
.scrollBtn {
  position: absolute;
  left: 50%;
  top: 90%;
  transform: translateX(-50%) translateY(-50%);
}

.scrollBtn > * {
  display: inline-block;
  line-height: 18px;
  font-size: 13px;
  font-weight: normal;
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 2px;
}

.scrollBtn > *:hover,
.scrollBtn > *:focus,
.scrollBtn > *.active {
  color: #111;
}

.scrollBtn > *:hover,
.scrollBtn > *:focus,
.scrollBtn > *:active,
.scrollBtn > *.active {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.scrollBtn .mouse {
  width: 35px;
  height: 55px;
  border: 2px solid white;
  border-radius: 23px;
}

.scrollBtn .mouse > * {
  position: absolute;
  display: block;
  top: 29%;
  left: 45%;
  width: 5px;
  height: 6px;
  background: white;
  border-radius: 50%;
  -webkit-animation: ani-mouse 2.5s linear infinite;
  -moz-animation: ani-mouse 2.5s linear infinite;
  animation: ani-mouse 2.5s linear infinite;
}

@-webkit-keyframes ani-mouse {
  0% {
    opacity: 1;
    top: 29%;
  }
  15% {
    opacity: 1;
    top: 50%;
  }
  50% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 29%;
  }
}

@-moz-keyframes ani-mouse {
  0% {
    opacity: 1;
    top: 29%;
  }
  15% {
    opacity: 1;
    top: 50%;
  }
  50% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 29%;
  }
}

@keyframes ani-mouse {
  0% {
    opacity: 1;
    top: 29%;
  }
  15% {
    opacity: 1;
    top: 50%;
  }
  50% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 29%;
  }
}
